<!-- Home Page -->
<!DOCTYPE HTML>
<html lang="en-us">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Brently's</title>
	<link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="../css/custom.css" rel="stylesheet">
	<style>
	
	</style>
<head>

<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-primary">
		<a class="navbar-brand" href="/">
			<img src="../img/blmlogo.svg" width="30" height="30" alt="BLM">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- Navbar Inner Menu -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link h6 text-white-50" href="/">Home<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link h6 text-light" href="/about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link h6 text-light" href="/resume">Resume</a>
				</li>
				<li class="nav-item">
					<a class="nav-link h6 text-light" href="/contact">Contact</a>
				</li>
				<li class="nav-item">
					<a class="nav-link h6 text-light" href="/cbdb">Comic DB</a>
				</li>
			<ul>
		</div>
	</nav>

	<!-- Content -->
	<div class="container-fluid text-center bg-white">
		<!-- Header -->
		<div class="container-fluid text-center bg-white pt-2 pb-4">
			<h1 class="text-primary">Brently's Homepage</h1>
		</div>
		<!-- Sub-header -->
		<div class="container-w500 pb-4">
			<h5 class="text-primary">Welcome!</h5>
			<p class="text-dark">Here you will find some personal and professional information about myself. It is also a place for me to work on and provide access to some programming projects of mine.</p>
		</div>
		<div class="container-w500 pb-4">
			<h5 class="text-primary">Getting Started</h5>
			<p class="text-dark">Check out the descriptions and links to the rest of the site below.</p>
		</div>
		
		<!-- Page Descriptions with Links -->
		<div class="row">
			<div class="col-sm-4 pb-4">
				<a class="btn btn-primary btn-lg" role="button" href="/about">About</a>
				<p class="text-dark pt-1">A little bit about me personally.</p>
			</div>
			<div class="col-sm-4 pb-4">
				<a class="btn btn-primary btn-lg" role="button" href="/resume" >Resume</a>
				<p class="text-dark pt-1">A little bit about me professionally.</p>
			</div>
			<div class="col-sm-4 pb-4">
				<a class="btn btn-primary btn-lg" role="button" href="/contact">Contact</a>
				<p class="text-dark pt-1">Get in touch with me.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 pb-4">
				<a class="btn btn-primary btn-lg" role="button" href="/cbdb">Comic DB</a>
				<p class="text-dark pt-1">A database for my graded comic collection.</p>
			</div>
			<div class="col-sm-4 pb-4">
				<a class="btn btn-primary btn-lg" role="button" href="#">TBD</a>
				<p class="text-dark pt-1">???</p>
			</div>
			<div class="col-sm-4 pb-4">
				<a class="btn btn-primary btn-lg" role="button" href="#">TBD</a>
				<p class="text-dark pt-1">???</p>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer class="container-fluid text-center text-white bg-primary py-2">
		<p>brentlymax copyright (c) 2020</p>
	</footer>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../js/bootstrap.js" type="text/javascript"></script>
</body>
</html>