<!-- Resume Page -->
<!DOCTYPE HTML>
<html lang="en-us">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Brently's</title>
	<link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="../css/custom.css" rel="stylesheet">
	<style>
	
	</style>
<head>

<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-primary">
		<a class="navbar-brand" href="/">
			<img src="../img/blmlogo.svg" width="30" height="30" alt="BLM">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- Navbar Inner Menu -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link h6 text-light" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link h6 text-light" href="/about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link h6 text-white-50" href="/resume">Resume<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link h6 text-light" href="/contact">Contact</a>
				</li>
				<li class="nav-item">
					<a class="nav-link h6 text-light" href="/cbdb">Comic DB</a>
				</li>
			<ul>
		</div>
	</nav>

	<!-- Content -->
	<div class="container-fluid text-center bg-white py-2">
		<!-- Header -->
		<div class="container-fluid text-center bg-white">
			<h2 class="text-primary">Resume</h2>
			<p class="text-dark">???</p>
		</div>
		<!-- Body -->
		<div class="container-fluid">
			
		</div>
	</div>

	<!-- Footer -->
	<footer class="container-fluid text-center text-white bg-primary py-2">
		<p>brentlymax copyright (c) 2020</p>
	</footer>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../js/bootstrap.js" type="text/javascript"></script>
</body>
</html>